<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    
    <!-- CSS links -->
    <link rel="stylesheet" href="../css/intro.css">
    <link rel="stylesheet" href="../css/nav-bar.css">

    <title>Intro DEV LAB</title>
</head>

<body>

<div class="bg" id="bg"></div>
<div class="overlay"></div>

<div>
    <!-- navbar -->
    <nav class="navbar">
        <a href="https://toniestarlich.github.io/ToniDevStudio/" target="_blank" rel="noopener noreferrer">About me</a>
        <a href="https://toniestarlich.github.io/ToniDevStudio/templates/contact.html" target="_blank"
            rel="noopener noreferrer">Contact</a>
    
        <!-- ICONOS -->
        <div class="social-icons d-flex align-items-center">
            <a href="https://www.linkedin.com/in/antonio-estarlich-81125220a/" target="_blank" class="me-2 text-primary">
                <i class="bi bi-linkedin"></i>
            </a>
            <a href="https://github.com/ToniEstarlich?tab=repositories" target="_blank" class="text-dark">
                <i class="bi bi-github"></i>
            </a>
        </div>
    </nav>
</div>
    
    <div class="intro">
        <!-- DEV LAB Animated -->
        <h1 aria-label="DEV LAB">
            <span>D</span><span>E</span><span>V</span>
        </h1>
        <h1 aria-label="DEV LAB"><span>L</span><span>A</span><span>B</span>
        </h1>

        <!-- Question -->
        <h2>What is DEV LAB?</h2>

        <!-- Answer -->
        <p class="lead">
            DEV LAB is a compact memory map for full-stack developers — fast references, workflows, and essentials at a
            glance. <br>
            It is designed as a **memory guide** to connect <strong class="yellow">Database</strong> →<strong
                class="yellow">Backend </strong> → <strong class="yellow">Frontend</strong> → <strong
                class="yellow">Testing</strong>, helping developers quickly visualize the full-stack workflow.
        </p>

        <!-- Link Button -->
        <a href="../index.html"  class="cta-button">
            Start Exploring
        </a>
    </div>

    <!-- Javascript links -->
    <script src="../js/intro.js"></script>

</body>

</html>